* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    color: wheat;
    background-color: #000000;
}
a, a:visited, a:active{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:rgb(246, 231, 203);
}
a.list, a.list:visited, a.list:active{
    font-size: 20pt;
    text-decoration: none;
    color: inherit;
}
a.list:hover{
    color:rgb(246, 231, 203);
}
div.header{
    display: flex;
    align-items: center;
    position: static;
    padding-left: 3%;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.958);
    border-bottom: 2px solid wheat;

}
div.header h1{
    position: relative;
    padding-right: 12px;
    font-size: 30pt;
    border-right: 1px wheat solid;
}
div.header h2{
    position: relative;
    left: 12px;
    font-size: 22pt;
}
div.header a:hover{
    color:wheat;
}
div.central{
    position: absolute;
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span.clear{
    font-size: 22pt;
}
div.addNew{
    font-size: 16pt;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    width: 250px;
    height: 50px;
    background-color: rgba(34, 34, 34, 0.958);
    border: 1px solid wheat;
    border-radius: 5px;
    transition: all 0.15s 0s linear;
}
div.addNew:hover{
    cursor: pointer;
    background-color: rgba(22, 22, 22, 0.958);
    box-shadow: 0px 0px 20px 0px rgba(154, 154, 154, 0.8);
}
