<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>Digital Library</title>
    <link rel="shortcut icon" href="../static/foto/favicon.ico" th:href="@{/foto/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
    <div class="header">
        <H1> DL </H1>
        <H2> Digital Library </H2>
    </div>
    <div class="navigation">
        <div class="books">
            <center><span class="navHSpan"> <H1 > Книги </H1> </span> </center>
            <ul>
                <li> <a href="books"> Список книг </a></li>
                <li> <a href="books/new"> Добавить новую книгу </a></li>
            </ul>
        </div>
        <div class="people">
            <center><span class="navHSpan"> <H1> Читатели </H1> </span> </center>
            <ul>
                <li> <a href="people">Список читателей</a></li>
                <li> <a href="people/new">Добавить нового читателя</a></li>
            </ul>
        </div>
    </div>
</body>
</html>